*{
   margin: 0px;
   padding: 0px;
  }
.main{
  width: 330px;
  border: 03 solid #009933;
  padding: 08px;
  border-radius: 30px;
}
input{
  background: transparent;
  border: 0px;
  outline: 0px;
  width: 300px;
}
body{
  display: flex;
  justify content: center;
}
  
