.container {
    max-width: 360px;
}
#result {
    height: 50px;
    line-height: 30px;
    padding: 4% 2%;
    font-size: 25px;
}
.bttns {
    display: grid;
    border: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bttns div {
    border-top: 1px solid #999;
}
.btn {
    border: .5px solid gray;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
}
