*{
  box-sizing:border-box;
}

html, body
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
  font-family: ?'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  position: relative;
  width: 240px;
  height: 208px;
  background: url(/images/nap.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
}

.player-info {
  position: absolute;
  top: 0;
  left:0;
  padding: 1em
  display: flex;
  gap: 0.5em;
  align-items: flex-end
}  
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px
  height: 44px;
  border-radius;
  outline: 0;
}
input[type="text"]:focus {
border-color: #f000ff
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}
