body{
 font: 20px Verdana;
}

h1{
 font: 20px Verdana;
 color: red;
}

.Input{
 font: 20px Verdana;
 border: 1px solid orange;
 width: 300px;
}

.Submit{
 font: 20px Verdana;
 border: 1px solid orange;
 width: 300px;
}
